body{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

#container{
    background-position:center;
    background:black;
    height: 750px;
    max-width:80%;
    border: 4px solid #B0E0E6;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
    margin:auto
}

#container .friends{
    margin:0 auto;
    margin-top: 7%;
    max-width:80%;
    display:block;
}

.wrapper{
    width:85%;
    margin:0 auto;
}

ul{
    list-style: none;
    padding-left:0;
}

#countdown{
    margin-top:5%;
}

#question{
    margin-top: 8%;
    margin-left: 2%;
}

#answerDisplay{
    margin:0 10%;
}

button{
    float:right;
    padding: 2% 5%;
    background-color:black;
    color: white;
    font-size: 18px;
    border: 3px solid blue;
    border-radius: 5px;
    margin: 5%;
}

button a{
    text-decoration:none;
    color: white;  
}

#GIF1{
    width:80%;
    margin:0 auto;
}

#GIF2{
    width:35%;
    margin:0 auto;
}

#GIF3{
    width:50%;
    margin:0 auto;
}

#answerDisplay p{
    text-align: center;
    font-size: 17px;
}



/*media queries*/

@media screen and (min-device-width: 360px) and (max-device-width: 650px) {
    body{
        font-size: 14px;
    }
}

@media screen and (max-device-width: 360px) {
    body{
        font-size: 10px;
    }
}

@media screen and (min-device-width: 316px)and (max-device-width: 707px) {
    #container img{
        margin-top: 15%;

    }
}

@media screen and (min-device-width: 270px)and (max-device-width: 316px) {
    #container img{
        margin-top: 20%;

    }
}

@media screen and (min-device-width: 134px) and (max-device-width: 270px) {
    #container img{
        margin-top: 35%;

    }
}

@media screen and (max-device-width: 134px) {
    #container img{
        margin-top: 55%;

    }
}

@media screen and (min-device-width: 730px) and (max-device-width: 940px) {
    #container{
        height: 620px;
    }
}

@media screen and (min-device-width: 416px) and (max-device-width: 730px) {
    #container{
        height: 500px;
    }
}


@media screen and (max-device-width: 416px) {
    #container{
        height: 380px;
    }
}

@media screen and (max-device-width: 131px) {
    #answerDisplay p{
        font-size: 12px;
     }

     button{
        font-size: 16px;
     }
}